
/* animation  */

.animationonhover{
    animation: glow-hover 1.5s infinite alternate;
}

.attention{
    animation: inside-outside 1s infinite ;
}

.projectbox {
    border: 1px solid black; /* Specify width, style, and color */
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
     /* Rounded corners */
}

.projectbox:hover{
    background-color: azure;
}


  


@keyframes glow-hover {
    0% { box-shadow: 0 0 40px rgba(16, 77, 207, 0.8); }
    50% { box-shadow: 0 0 50px rgba(16, 207, 194, 0.8); }
    75% { box-shadow: 0 0 40px rgba(118, 33, 182, 0.8); }
    
    100% { box-shadow: 0 0 30px rgb(105, 15, 223); }
  }

@keyframes inside-outside {
    0%{
        transform: scale(85%);
    }
    100%{
        transform: scale(100%);
    }
    
}

